<clickhouse>
  <listen_host>{{ listen_host }}</listen_host>

  <!-- Standalone dnvr settings supplied by the container image in E2E. -->
  <http_port>{{ http_port }}</http_port>
  <tcp_port>{{ tcp_port }}</tcp_port>
  <interserver_http_port>{{ interserver_http_port }}</interserver_http_port>
  <path>{{ data_dir }}/</path>
  <tmp_path>{{ data_dir }}/tmp/</tmp_path>
  <user_files_path>{{ data_dir }}/user_files/</user_files_path>
  <format_schema_path>{{ data_dir }}/format_schemas/</format_schema_path>
  <logger><level>information</level><console>true</console></logger>
  <users><default><password></password><profile>default</profile><quota>default</quota><networks><ip>::/0</ip></networks><access_management>1</access_management></default></users>
  <profiles><default/></profiles>
  <quotas><default><interval><duration>3600</duration><queries>0</queries><errors>0</errors><result_rows>0</result_rows><read_rows>0</read_rows><execution_time>0</execution_time></interval></default></quotas>

  <keeper_server>
    <tcp_port>{{ keeper_port }}</tcp_port>
    <server_id>1</server_id>
    <log_storage_path>{{ data_dir }}/coordination/log</log_storage_path>
    <snapshot_storage_path>{{ data_dir }}/coordination/snapshots</snapshot_storage_path>
    <raft_configuration>
      <server>
        <id>1</id>
        <hostname>{{ listen_host }}</hostname>
        <port>{{ keeper_raft_port }}</port>
      </server>
    </raft_configuration>
  </keeper_server>
  <zookeeper>
    <node>
      <host>{{ listen_host }}</host>
      <port>{{ keeper_port }}</port>
    </node>
  </zookeeper>
  <keeper_map_path_prefix>/clickhouse/keeper_map</keeper_map_path_prefix>
  <macros>
    <shard>01</shard>
    <replica>01</replica>
  </macros>
  <named_collections>
    <durable_backups>
      <url>{{ minio_url }}/backups/</url>
      <access_key_id>{{ minio_access_key_id }}</access_key_id>
      <secret_access_key>{{ minio_secret_access_key }}</secret_access_key>
    </durable_backups>
  </named_collections>
</clickhouse>
