{
  "connector.class": "com.clickhouse.kafka.connect.ClickHouseSinkConnector",
  "tasks.max": "1",
  "topics": "records.input",
  "topic2TableMap": "records.input=records",
  "hostname": {{ clickhouse_host | tojson }},
  "port": {{ clickhouse_port | string | tojson }},
  "ssl": "false",
  "database": "durable_e2e",
  "username": "default",
  "password": "",
  "exactlyOnce": "true",
  "consumer.override.isolation.level": "read_committed",
  "consumer.override.session.timeout.ms": "2000",
  "consumer.override.heartbeat.interval.ms": "500",
  "errors.tolerance": "all",
  "errors.deadletterqueue.topic.name": "deadletterqueue",
  "errors.deadletterqueue.topic.replication.factor": "1",
  "errors.deadletterqueue.context.headers.enable": "true",
  "bufferCount": "0",
  "zkPath": "/durable-clickhouse-sink/e2e/records",
  "zkDatabase": "durable_clickhouse_sink_records_state",
  "value.converter": "org.apache.kafka.connect.json.JsonConverter",
  "value.converter.schemas.enable": "false",
  "clickhouseSettings": "async_insert=0,insert_deduplicate=1"
}
